# editor
.idea

# cgo
*.a
*.o
*.cache
*.in
*.pc


luikore__hat-trie/compile 
luikore__hat-trie/configure 
luikore__hat-trie/depcomp 
luikore__hat-trie/install-sh 
luikore__hat-trie/libtool 
luikore__hat-trie/ltmain.sh 
luikore__hat-trie/missing 
luikore__hat-trie/test-driver

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


